@import '~@angular/material/theming';
@import '../component-themes';
@import '../colors';

@include mat-core();

.light-theme {
    $primary: mat-palette($mat-green, 700);
    $accent: mat-palette($mat-indigo, 300);
    $warn: mat-palette($mat-red);
    $background: mat-palette($mat-blue);
    $background-component: mat-color(mat-palette($mat-grey), 100, 0.5);
    $background-header: mat-color(mat-palette($mat-grey), 200, 1);
    $background-footer: mat-color(mat-palette($mat-grey), 300);
    $background-dialog: mat-color(mat-palette($mat-grey), 100);
    $color-text-component: mat-color(mat-palette($md-dark), 700);
    $color-text-header: mat-color(mat-palette($mat-grey), 800);
    $color-text-footer: mat-color(mat-palette($mat-grey), 600, 0.7);
    $theme: mat-light-theme($primary, $accent, $warn); // mat-light-theme -> permet de mettre en light tous les éléments de Angular Material (background etc)
    background-color: $background-component;

    @include angular-material-theme($theme);
    @include component-themes($theme, $background-component, $color-text-component);
    @include header-themes($theme, $background-header, $color-text-header);
    @include footer-themes($theme, $background-footer, $color-text-footer);
    @include dialog-themes($theme, $background-dialog, $color-text-component);
}
