{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}
{% block main %}
   
        <!-- Yanis EL KAJJOUI -->
<body>
	<header class="bg-light py-3">
		<div class="container">
			<h1 class="fw-bold text-center">Yanis El Kajjoui</h1>
			<h2 class="text-center">Étudiant en BTS SIO Option SLAM : Conception et développement d'applications  </h2>
		</div>
	</header>
	<main class="container my-5">
		<div class="row">
			<div class="col-lg-6">
				<h3>À propos de moi</h3>
				<p>Je m'appelle Yanis El Kajjoui et j'ai 20 ans. Je suis actuellement étudiant en BTS SIO et j'ai pour ambition de poursuivre mes études dans le domaine de la cybersécurité.</p>
				<p>Depuis mon plus jeune âge, je suis passionné par l'informatique et les nouvelles technologies. J'ai ainsi décidé de me lancer dans un BTS SIO pour acquérir des compétences solides en matière de développement et de gestion de systèmes d'information.</p>
				<p>Cependant, je me suis rapidement rendu compte que ma véritable passion était la cybersécurité. Je suis fasciné par les enjeux liés à la protection des données et à la lutte contre la cybercriminalité. Je souhaite donc continuer mes études dans ce domaine pour devenir expert en sécurité informatique.</p>
				<p>Je suis convaincu que la cybersécurité est un enjeu majeur pour les entreprises et les particuliers, et je veux contribuer à la protection des données personnelles et sensibles. Je suis prêt à investir du temps et de l'énergie pour atteindre mon objectif et devenir un professionnel reconnu dans ce domaine en constante évolution.</p>
			</div>
			<div class="col-lg-6">
				<img src="ressources/Yanis.jpeg" class="img-fluid rounded-circle my-3" alt="Photo de profil de Yanis El Kajjoui">
			</div>
		</div>
	</main>
    </body>

{% endblock %}
