@import "~@angular/material/theming";
@include mat-core();

$md-green: (
    50 : #e9efe6,
    100 : #c7d6c0,
    200 : #a2bb97,
    300 : #7c9f6d,
    400 : #608b4d,
    500 : #44762e,
    600 : #3e6e29,
    700 : #356323,
    800 : #2d591d,
    900 : #1f4612,
    A100 : #9dff81,
    A200 : #75ff4e,
    A400 : #4dff1b,
    A700 : #39ff02,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-red: (
    50 : #f4e0e0,
    100 : #e4b3b3,
    200 : #d28080,
    300 : #c04d4d,
    400 : #b32626,
    500 : #a50000,
    600 : #9d0000,
    700 : #930000,
    800 : #8a0000,
    900 : #790000,
    A100 : #ffa7a7,
    A200 : #ff7474,
    A400 : #ff4141,
    A700 : #ff2727,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-blue: (
    50 : #e8f0f8,
    100 : #c5daee,
    200 : #9ec2e3,
    300 : #77aad7,
    400 : #5a97cf,
    500 : #3d85c6,
    600 : #377dc0,
    700 : #2f72b9,
    800 : #2768b1,
    900 : #1a55a4,
    A100 : #dae9ff,
    A200 : #a7caff,
    A400 : #74abff,
    A700 : #5b9cff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-light: (
    50 : #fcfcfc,
    100 : #f9f9f9,
    200 : #f5f5f5,
    300 : #f0f0f0,
    400 : #ededed,
    500 : #eaeaea,
    600 : #e7e7e7,
    700 : #e4e4e4,
    800 : #e1e1e1,
    900 : #dbdbdb,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-dark: (
    50 : #e0e0e0,
    100 : #b3b3b3,
    200 : #808080,
    300 : #4d4d4d,
    400 : #262626,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #a6a6a6,
    A200 : #8c8c8c,
    A400 : #737373,
    A700 : #666666,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-lightgreen: (
    50 : #e6f7f0,
    100 : #bfebd8,
    200 : #95debf,
    300 : #6bd1a5,
    400 : #4bc791,
    500 : #2bbd7e,
    600 : #26b776,
    700 : #20ae6b,
    800 : #1aa661,
    900 : #10984e,
    A100 : #c9ffe0,
    A200 : #96ffc2,
    A400 : #63ffa4,
    A700 : #4aff95,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-lightred: (
    50 : #f5e0e2,
    100 : #e6b3b6,
    200 : #d58086,
    300 : #c44d56,
    400 : #b82631,
    500 : #ab000d,
    600 : #a4000b,
    700 : #9a0009,
    800 : #910007,
    900 : #800003,
    A100 : #ffadad,
    A200 : #ff7a7a,
    A400 : #ff4747,
    A700 : #ff2e2e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$primary: mat-palette($md-green); // green
$warn: mat-palette($md-red); // red
$accent: mat-palette($md-blue); // blue
$light: mat-palette($md-light); // light theme
$dark: mat-palette($md-dark); // dark theme

$primary-color: rgb(33, 119, 52);
$accent-color: rgb(37, 99, 192);
$warn-color: rgb(163, 15, 15);