<div class="pdf-version border-top border-bottom border-right p-3 bg-danger position-fixed d-none d-md-block">
  <a href="/assets/cv.pdf" class="text-white" target="_blank">
    <img src="/assets/cv/file.png" alt="Icône PDF">
    <div>Version PDF</div>
  </a>
</div>
<div id="moncv" class="col-12 col-print-12 col-md-9 col-xl-8 mx-auto bg-white mt-0 mt-md-5 px-0">
  <div class="header text-white p-2 text-center border-bottom">
    <div class="row">
      <div class="col">Tel: 06 13 03 51 76</div>
      <div class="col-auto">Email: angelotremoureux.f2f@gmail.com</div>
      <div class="col">Site Internet: angelotremoureux.fr</div>
    </div>
  </div>
  <div class="about p-5 border-bottom">
    <div class="row">
      <div class="col-3">
        <div class="img border ml-3">
          <img class="img-fluid" src="/assets/photo.jpg" alt="Photo de profile">
        </div>
      </div>
      <div class="col-9">
        <h1 class="text-dark">Angelo TREMOUREUX</h1>
        <br>
        <p class="text-about text-muted">
          Actuellement apprenti <b>ingénieur informatique et multimédia</b>, j'ai 20 ans et je suis passionné par
          l’informatique en général et plus particulièrement dans le domaine du
          développement web, je suis <b>curieux</b>, <b>motivé</b> et <b>persévérant</b> dans ce que
          j’entreprends.
        </p>
      </div>
    </div>
  </div>
  <div class="formation rubrique-content mt-3">
    <h2 class="text-uppercase rubrique-title">
      <img class="icons" src="/assets/cv/livre.png" alt="Image d'un livre">
      <b>Formation</b>
    </h2>
    <div class="row">
      <div class="col-3">
        <ul class="list-square">
          <li><em>En cours</em></li>
        </ul>
      </div>
      <div class="col-9">
        <b class="h3">Diplôme d'ingénieur</b><em></em>
        <br>
        Spécialité <b>Informatique</b> et <b>Multimédia</b>
        <br>
        Au Conservatoire Nationale des Arts et Métiers (CNAM) à Toulon
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-3">
        <ul class="list-square">
          <li><em>2022</em></li>
        </ul>
      </div>
      <div class="col-9">
        <b class="h3">BTS SIO</b><em> (Services Informatiques aux Organisations)</em>
        <br>
        Option <b>SLAM</b><em> (Solutions Logicielles et Applications Métiers)</em>
        <br>
        Au Lycée Bonaparte à Toulon
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-3">
        <ul class="list-square">
          <li><em>2019</em></li>
        </ul>
      </div>
      <div class="col-9">
        <b class="h3">BAC STI2D</b><em> (Sciences et Technologies de l’Industrie et du Développement Durable) </em>
        <br>
        Option <b>SIN</b><em> (Système d'Information et Numérique)</em>
        <br>
        Au lycée Rouvière à Toulon obtenu avec <b>mention assez-bien</b>
      </div>
    </div>
  </div>
  <div class="competences rubrique-content mt-4">
    <div class="row">
      <div class="col">
        <h2 class="text-uppercase rubrique-title">
          <img class="icons" src="/assets/cv/pc.png" alt="Image d'un ordinateur"><b>Compétences techniques</b>
        </h2>
      </div>
      <div class="col-4">
        <h2 class="text-uppercase rubrique-title">
          <img class="icons" src="/assets/cv/etiquette.png" alt="Image d'une étiquette"><b>Savoir être</b>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul>
          <li class="list-none">
            <img class="icons" src="/assets/cv/html5.png" alt="Logo d'HTML version 5">
            <img class="icons" src="/assets/cv/css3.png" alt="Logo de CSS version 3">
            <img class="icons" src="/assets/cv/js.png" alt="Logo de JavaScript"> HTML / CSS / JavaScript
          </li>
          <li class="list-none"><img class="icons" src="/assets/cv/php.png" alt="Logo de PHP 8"> PHP (Laravel & Symfony)</li>
          <li class="list-none"><img class="icons" src="/assets/cv/sql.png" alt="Logo de TS"> TypeScript</li>
          <li class="list-none"><img class="icons" src="/assets/cv/phpunit.png" alt="Logo Angular"> Angular</li>
          <li class="list-none"><img class="icons" src="/assets/cv/agile.png" alt="Node.js"> Node.js</li>
        </ul>
      </div>
      <div class="col-4">
        <ul>
          <li class="list-none">Autonome</li>
          <li class="list-none">Curieux</li>
          <li class="list-none">Rigoureux</li>
          <li class="list-none">Ponctuel</li>
          <li class="list-none">Esprit d'équipe</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="interets rubrique-content mt-4">
    <h2 class="text-uppercase rubrique-title"><img class="icons" src="/assets/cv/palette.png"
        alt="Image d'une palette de couleurs"><b>Centres d'intérêts</b></h2>
    <div class="row text-center">
      <div class="col">
        <img class="icons" src="/assets/cv/tennis.png" alt="Image d'une raquette de tennis"> Tennis
      </div>
      <div class="col">
        <img class="icons" src="/assets/cv/mangas.png" alt="Image d'un livre"> Mangas
      </div>
      <div class="col">
        <img class="icons" src="/assets/cv/veille.png" alt="Image d'une fiche électrique"> Veille technologique
      </div>
    </div>
  </div>
  <div class="projets rubrique-content mt-4 pb-3">
    <h2 class="text-uppercase rubrique-title">
      <img class="icons" src="/assets/cv/pc.png" alt="Image d'un ordinateur">
      <b>Projets réalisés</b>
    </h2>
    <ul>
      <li>Amélioration d’une application web répondant à un nouveau cahier des charges pour un projet scolaire en groupe
        de 4 (<a href="/projets/gsb">lien</a>) réalisée en <b>PHP</b>.</li>
      <li class="mt-2">Réalisation d’une <b>application web</b> pour un projet de <b>puissance 4</b> (<a
          href="https://angelotremoureux.fr/projets/puissance4">lien</a>) développée en parallèle de mon cursus scolaire
        principalement en <b>PHP</b>.</li>
    </ul>
    <p>Tous mes projets sont disponibles sur mon portfolio : <a
        href="https://angelotremoureux.fr/">https://angelotremoureux.fr/</a></p>

  </div>
</div>
