<div class="gsb-web">
  <div class="container">
    <!-- PRESENTATION PPE 1 -->
    <h2 class="bienvenue">PPE N°1: application web de gestion des frais GSB</h2>
    <p class="contenu contenu-bienvenue">
      Voici la présentation du PPE n°1 que j'ai réalisé au cours de ma 2ème année de BTS SIO, option SLAM.
      Vous y trouverez sur cette page le contexte du PPE et les compétences acquises au cours
      de la réalisation de ce PPE. Vous y trouverez également le compte rendu complet de ce PPE, téléchargeable au format
      PDF un peu plus bas dans la page.
    </p>

    <mat-divider></mat-divider>

    <!-- CONTEXTE -->
    <div class="mes-competences">
      <mat-icon>description</mat-icon>
      <h2>Contexte</h2>
    </div>
    <p class="contenu">
      En 2009, deux géants pharmaceutiques Galaxy et Swiss Bourdin ont uni leurs forces pour créer un leader de ce
      secteur industriel. Le laboratoire créé, l’entité Galaxy Swiss Bourdin souhaite uniformiser la gestion des
      frais professionnels des visiteurs médicaux via le développement en interne d’une application Web. Cette
      application est destinée à la fois aux visiteurs médicaux et aux comptables en charges de leur gestion.
      La partie destinée aux visiteurs médicaux est développée. Il s’agit à présent de développer la partie destinée
      aux comptables en charge de la validation et du paiement de ces frais professionnels.
    </p>
    <p class="contenu detail">
      Pour plus de détails, vous pouvez retrouver le cahier des charges, la documentation et le mode opératoire pour récupérer
      l'application ici:
      <button mat-raised-button>
        <a class="link" href="https://github.com/Florian935/GSB_initialProject" target="_blank">
          <div>Mode opératoire</div>
          <div class="code-source"></div>
        </a>
      </button>
    </p>

    <mat-divider></mat-divider>

    <!-- COMPETENCES -->
    <div class="mes-competences">
      <mat-icon>build</mat-icon>
      <h2>Compétences techniques</h2>
    </div>
    <p class="contenu">
      Ce PPE m'a permis d'acquérir de nouvelles compétences. Notamment, j'ai ainsi appris à développer une
      application côté frontend et backend grâce au langage serveur PHP couplé au HTML et au CSS. J'ai également
      pu développer mes compétences en base de données en me servant du langage d'interrogation de données SQL
      et du SGBDR phpmyadmin.
    </p>
    <p class="contenu detail">
      Pour plus de détails, vous pouvez retrouver le code source complet du PPE ici:
      <button mat-raised-button>
        <a class="link" href="https://github.com/Florian935/GSB/tree/master" target="_blank">
          <div>Code source</div>
          <div class="code-source"></div>
        </a>
      </button>
    </p>

    <mat-divider></mat-divider>

    <!-- TACHES REALISEES -->
    <div class="mes-competences">
      <mat-icon>subject</mat-icon>
      <h2>Tâches réalisées</h2>
    </div>
    <p class="contenu">
      Comme indiqué dans la description du contexte, la partie comptable de l'application était à développer.
      Je me suis donc chargé de développer cette dernière. J'ai ainsi développé la partie comptable permettant
      de valider et de rembourser les frais et la partie permettant le suivi des remboursements.
    </p>
    <p class="contenu detail">
      Pour plus de détails, vous pouvez consulter le compte-rendu complet du PPE ici:
      <button mat-raised-button>
        <a class="link" href="https://florian935.github.io/portfolio/documents/cr-ppe1.pdf" target="_blank">
          <div>Compte rendu</div>
          <mat-icon>attach_file</mat-icon>
        </a>
      </button>
    </p>
    <div class="screen-appli mat-elevation-z3"></div>
  </div>
</div>
