{% extends 'base.html.twig' %}

{% block title %} Veille Techno 2023 {% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block javascripts %}
	{{ parent()}}
	<script></script>
{% endblock %}
{% block main %}

	<div class="container col-xxl-8 px-4 py-5">
		<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
			<div class="col-10 col-sm-8 col-lg-6">
				<img src="../ressources/Blockchain.jpg" class="img-fluid border rounded-3 shadow-lg mb-4 border border-black" width="700" height="500" loading="lazy">
			</div>
			<div class="col-lg-6">
				<h1 class="display-5 fw-bold lh-1 mb-3">La Veille Techno</h1>
				<p class="lead">
					A l'issu de ces deux années de Bts Sio option Slam j'ai fait le choix de porter ma veille Technologique sur la BlockChain. Je vais à présent vous montrer le fruit de mon travail à l'issu de cette veille Technologqiue via la version web, J'ai également mis à disposition une version PDF afin que vous puissiez la telecharger.</p>
				<div class="d-grid gap-2 d-md-flex justify-content-md-start">
					<a href="../ressources/Veille-Technologique-cryptomonnaies-Yass.pdf" type="button" class="btn btn-danger btn-lg px-4 me-md-2">Version PDF</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Section 1 La Veille-->

	<section id="Veille" class="container-flex justify-content-center pb-5">
		<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="../ressources/veilleTech.jpg" alt="" width="auto" height="auto">
    <h1 class="display-5 fw-bold">Veille Technologique</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Une veille technologique est un moyen de se tenir informé au fil du temps sur des innovations dans un secteur précis. Cela consiste à stocker, analyser les informations que l’on reçoit de tierce application sur le sujet de notre veille et d’en voir l’évolution au cours du temps. 
Pour ma part j’ai décidé d’orienter ma veille sur les crypto-monnaies et la technologie qui les entoure, la blockchain. Celle-ci m’a permis d’en apprendre plus sur ce domaine et ainsi acquérir des connaissances que je ne possédais pas.
</section>
{% endblock %}
