<div class="veille">
    <div class="container">
      <!-- PRESENTATION VEILLE -->
      <h2 class="bienvenue">Veille technologique</h2>
      <p class="contenu contenu-bienvenue">
        Voici le détail des différentes démarches et techniques que j'ai employé pour mettre en place ma veille technologique.

        La veille technologique permet de s'informer de façon systématique sur les techniques les plus récentes dans un domaine, 
        qu'est l'informatique, en perpétuel évolution. C'est là que la veille technologique va permettre de se renouveler, de 
        rester au courant des derniers avancés, et d'éviter d'être dépasser. Sans une veille technologique, en quelques années 
        voire même quelques mois, on pourrait se retrouver dépasser et donc inefficace dans notre domaine. 
      </p>
      <p class="contenu">
        Ainsi, dans le monde de l'informatique, les nouvelles avancées, les nouvelles innovations, les nouvelles méthodes de 
        travail et même les nouvelles technologies dans les langages, les systèmes d'exploitation, les applications et même dans 
        le matériel sont en constants changements, d'ou l'utilité de rester informé par le biais d'une bonne veille technologique.
      </p>
  
      <mat-divider></mat-divider>
  
      <!-- CONTEXTE -->
      <div class="mes-competences">
        <mat-icon>description</mat-icon>
        <h2>Méthodes</h2>
      </div>
      <p class="contenu">
        Pour mettre en place ma veille technologique, j'ai choisi d'utiliser Netvibes qui permet de gérer des flux RSS. Egalement, j'utilise 
        Google Alert qui permet d'envoyer des flux RSS à Netvibes automatiquement dès que des nouveautés sont ajoutés sur le web. J'ai préféré 
        les flux RSS aux mails pour éviter de rapidement engorger ma boite mail. Pour terminer, je me sers de Pearltrees qui me permet d'organiser, 
        d'explorer et même de partager mon contenu numérique.
      </p>
  
      <mat-divider></mat-divider>
  
      <!-- COMPETENCES -->
      <div class="mes-competences">
        <mat-icon>build</mat-icon>
        <h2>Domaines étudiés</h2>
      </div>
      <p class="contenu">
        J'ai organisé ma veille technologique autour de plusieurs catégories en rapport avec ma spécialité notamment pour les principales catégories:
      </p>
      <ul>
        <li>Une catégorie axée sur le développement web (HTML, CSS, JavaScript, etc...).</li>
        <li>Une catégorie axée sur la programmation applicative (Java, C#, Python, C++ etc...).</li>
        <li>Une catégorie axée sur les SGBDR (MySQL, PostgreSQL etc...).</li>
        <li>Une catégorie axée sur les IDE (Visual Studio Code, IntelliJ etc...).</li>
      </ul>

      <p class="contenu">
        J'ai ensuite organisé ma veille technologique sur une catégorie qui m'intéresse particulièrement: le framework de développement côté client Angular. 
        J'ai découvert ce domaine lors de mon premier stage et l'ai approfondi durant mon second stage. L'ayant trouvé très agréable, j'ai continué à m'informer 
        à son propos durant tout le long de ma formation.  
      </p>
      <p class="contenu detail">
        Vous pouvez accéder à mon profil Pearltrees en cliquant sur le bouton ci-contre: 
        <button mat-raised-button><a class="link" href="https://www.pearltrees.com/flozerzoo" target="_blank"><div>Veille technologique</div><mat-icon>zoom_in</mat-icon></a></button>
      </p>
    </div>
  </div>