<div class="timeline-content">
  <h2 class="uppercase">Expérience profesionnel</h2>
  <div>
    <h3 class="text-uppercase">Concepteur logiciels</h3>
    <div class="header">
      <div mat-card-avatar class="header-image"
        style="background-size: cover; background-image: url('/assets/navalgroup.png');"></div>
      <h4><a href="https://www.naval-group.com/fr" target="_blank">NAVAL GROUP</a> &#9657; 3 ans</h4>
    </div>
    <span class="date">Sept. 2022 - En cours</span>
    <p>Alternance / Réalisation de divers outils web principalement en Angular.</p>
  </div>

  <div>
    <h3 class="text-uppercase">Stagiaire développeur web</h3>
    <div class="header">
      <div mat-card-avatar class="header-image"
        style="background-size: cover; background-image: url('/assets/evoliz.png');"></div>
      <h4><a href="https://www.evoliz.com/" target="_blank">EVOLIZ</a> &#9657; 6 sem</h4>
    </div>
    <span class="date">Janv. 2022 - Févr. 2022</span>
    <p>Développement de plusieurs pages en PHP avec Laravel et travail collaboratif en méthode agile scrum.
    </p>
  </div>

  <div>
    <h3 class="text-uppercase">Stagiaire développeur web</h3>
    <div class="header">
      <div mat-card-avatar class="header-image"
        style="background-size: cover; background-image: url('/assets/evoliz.png');"></div>
      <h4><a href="https://www.evoliz.com/" target="_blank">EVOLIZ</a> &#9657; 6 sem</h4>
    </div>
    <span class="date">Juin 2021 - Juil. 2021</span>
    <p>Développement de plusieurs pages, services et modules en PHP natif et travail collaboratif en méthode agile scrum.
    </p>
  </div>
</div>
