
<mat-card class="h-100">
  <mat-card-header>
    <div mat-card-avatar class="header-image" style="background-image: url('{{ icon }}');"></div>
    <mat-card-title>{{ title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p [innerHTML]="content"></p>
  </mat-card-content>
  <mat-card-actions class="text-center">
    &nbsp;
    <a href="{{ github }}" target="_blank"><button mat-raised-button color="dark"><fa-icon [icon]="['fab', 'github']"></fa-icon> Github</button></a>
  </mat-card-actions>
</mat-card>
