.Portfolio {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    padding: 4rem 0 0;
    max-height: calc(100vh - 12rem);

    h2 {
        font-size: 3.2rem;
        margin: 8rem 0 4rem 8rem;
    }

    ul.portfolio-container {
        overflow-y: scroll;


        li.portfolio-item {
            display: grid;
            grid-template-columns: 1fr 1fr .5fr .5fr;
            padding: 1rem;

            i {
                font-size: 3.2rem;
            }

            img {
                height: 4rem;
                width: 3rem;
            }

            h3 {
                display: flex;
                align-items: center;
                font-size: 2rem;
                padding: 0 8rem;
            }

            ul {
                display: flex;
                align-items: center;
                justify-content: center;

                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.6rem;
                    text-align: center;
                    height: 100%;
                    padding: .8rem;
                    text-align: center;
                    display: flex;
                    align-items: center;
                }
            }


            ul.portfolio-link-list {
                a {
                    display: flex;
                    align-items: flex-end;

                    .fa-external-link {
                        font-size: 1.2rem;
                        padding: 0 .4rem;
                    }
                }
            }
        }

        p {
            display: flex;
            align-items: center;
            font-size: 2rem;
        }
    }
}


@media screen and (max-width: 768px) {
    .Portfolio {
        padding: 2rem 0 0;
        height: 100%;

        h2 {
            font-size: 2.8rem;
            margin: 2rem;
        }

        ul.portfolio-container {
            overflow-y: scroll;

            li.portfolio-item {
                grid-template-columns: 1fr .4fr .4fr .1fr;
                padding: 1rem;

                i {
                    font-size: 2rem;
                    margin: .4rem;
                }

                img {
                    height: 2rem;
                    width: 2rem;
                }

                h3 {
                    font-size: 1.6rem;
                    padding: 0;
                }

                ul {

                    li {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 1.6rem;
                        text-align: center;
                        height: 100%;
                        padding: 0;
                        text-align: center;

                        display: flex;
                        align-items: center;

                    }
                }


            }

            p {
                display: flex;
                align-items: center;
                font-size: 1.2rem;
            }

            ul.portfolio-link-list {
                a {
                    display: flex;
                    align-items: flex-end;

                    i {
                        padding: 0;
                        margin: 0;
                    }

                    .fa-external-link {
                        font-size: 1.2rem;
                        padding: 0 .4rem;
                    }
                }
            }
        }


    }
}