<div class="gsb-web">
    <div class="container">
        <!-- PRESENTATION PPE 2 -->
        <h2 class="bienvenue">PPE N°2: application Android de gestion des frais GSB</h2>
        <p class="contenu contenu-bienvenue">
            En 2009, deux géants pharmaceutiques Galaxy et Swiss Bourdin ont uni leurs forces pour créer un
            leader de ce secteur industriel. Le laboratoire créé, l’entité Galaxy Swiss Bourdin souhaite uniformiser la
            gestion des frais professionnels des visiteurs médicaux via le développement en interne d’une application
            Android. Le laboratoire GSB souhaite maintenant dédier une application Android pour les visiteurs
            médicaux qui sont souvent sur le terrain, et qui par conséquent ont besoin d’une solution mobile.
            Le PPE 2 sera développé dans l’environnement Android Studio. Il permettra de déclarer des frais forfait
            et hors forfait, de consulter les frais dans leur totalité et d’envoyer les données persistées dans la
            base de données centrale.
        </p>

        <mat-divider></mat-divider>

        <!-- CONTEXTE -->
        <div class="mes-competences">
            <mat-icon>description</mat-icon>
            <h2>Contexte</h2>
        </div>
        <p class="contenu">
            En 2009, deux géants pharmaceutiques Galaxy et Swiss Bourdin ont uni leurs forces pour créer un leader de ce
            secteur industriel. Le laboratoire créé, l’entité Galaxy Swiss Bourdin souhaite uniformiser la gestion des
            frais professionnels des visiteurs médicaux via le développement en interne d’une application Web. Cette
            application est destinée à la fois aux visiteurs médicaux et aux comptables en charges de leur gestion.
            La partie destinée aux visiteurs médicaux est développée. Il s’agit à présent de développer la partie
            destinée
            aux comptables en charge de la validation et du paiement de ces frais professionnels.
        </p>
        <p class="contenu detail">
          Pour plus de détails, vous pouvez retrouver le cahier des charges, la documentation et le mode opératoire pour récupérer
          l'application ici:
          <button mat-raised-button>
            <a class="link" href="https://github.com/Florian935/GSB_android_initialProject" target="_blank">
              <div>Mode opératoire</div>
              <div class="code-source"></div>
            </a>
          </button>
        </p>

        <mat-divider></mat-divider>

        <!-- COMPETENCES -->
        <div class="mes-competences">
            <mat-icon>build</mat-icon>
            <h2>Compétences techniques</h2>
        </div>
        <p class="contenu">
            Ce PPE m'a permis d'acquérir de nouvelles compétences. J'ai ainsi appris à développer une
            applications Android grâce au langage Java dans l'environnement Android Studio. J'ai également
            pu approfondir mes compétences en base de données en me servant du langage d'interrogation de données SQL
            et du SGBDR phpmyadmin afin que l'application mobile puisse intéragir avec une base de données distantes
            et pouvoir faire persister les données.
        </p>
        <p class="contenu detail">
          Pour plus de détails, vous pouvez retrouver le code source complet du PPE ici:
          <button mat-raised-button>
            <a class="link" href="https://github.com/Florian935/GSB_android/tree/master" target="_blank">
              <div>Code source</div>
              <div class="code-source"></div>
            </a>
          </button>
        </p>

        <mat-divider></mat-divider>

        <!-- TACHES REALISEES -->
        <div class="mes-competences">
            <mat-icon>subject</mat-icon>
            <h2>Tâches réalisées</h2>
        </div>
        <p class="contenu">
            Comme indiqué dans la description du contexte, le laboratoire GSB souhaitait dédier une application Android
            pour les visiteurs médicaux afin de leurs permettre de déclarer les frais forfait et hors forfait engendré
            Il fallait également donner la possibilité à ces derniers de pouvoir consulter les frais qu'ils avaient entré
            auparavant. Une partie de l'application mobile était déjà développée. Je me suis chargé de développer les parties
            manquantes en particulier la saisie des frais d'étapes, des frais de nuitées et plus globalement de l'intéraction
            avec la base de données distantes afin de récupérer et de faire persister les données saisies par les visiteurs.
        </p>
        <p class="contenu detail">
            Pour plus de détails, vous pouvez consulter le compte-rendu complet du PPE ici:
            <button mat-raised-button><a class="link" href="https://florian935.github.io/portfolio/documents/cr-ppe2.pdf" target="_blank"><div>Compte rendu</div><mat-icon>attach_file</mat-icon></a></button>

        </p>
        <div class="screen-appli"></div>
    </div>
</div>
