<div class="welcome-theme">
  <div class="container">
    <h5 class="hello">Bonjour et bienvenue sur mon portfolio,</h5>
    <div class="name-container">
      <h1 class="call">Je m'appelle </h1>
      <h1 class="name">Florian Martin</h1>
    </div>
    <h5 class="phrase">et je suis étudiant en BTS SIO OPTION SLAM<span class="barre">|</span></h5>
    <button class="savoir-plus" mat-raised-button [routerLink]="['/profil']">En savoir plus</button>
  </div>
</div>
<div class="particles-wrapper">
  <canvas appRepulseParticles></canvas>
</div>
