<!-- Footer -->

<footer class="border-top">
        <div class="container py-5">
            <div class="row gy-4 align-items-center">
                <div class="col-12 col-md-4">
                    <a class="navbar-brand text-dark text-uppercase fw-bold" href="#">
                        <span class="bg-dark bg-gradient p-1 rounded-3 text-light">Yanis</span> EL KAJJOUI
                    </a>
                </div>
                <div class="col-12 col-md-4 text-md-center">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#" class="text-decoration-none text-dark" data-bs-toggle="modal"
                               data-bs-target="#mentionsLegales">Mentions légales</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-4 text-md-end">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/yanis-el-kajjoui-063aa8227/" class="text-decoration-none text-dark" data-bs-toggle="tooltip"
                               title="LinkedIn">
                                <i class="fab fa-linkedin fa-2x"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/DensetsuCode" class="text-decoration-none text-dark" data-bs-toggle="tooltip"
                               title="Github">
                                <i class="fab fa-github fa-2x"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-decoration-none text-dark" data-bs-toggle="tooltip" title="Twitter">
                                <i class="fab fa-twitter-square fa-2x"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="mentionsLegales" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Mentions Légales</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

	<h2>1. ÉDITEUR DU SITE WEB</h2>
	<p>Le présent site web est édité par EL KAJJOUI YANIS, étudiant en fin d'étude à ESICAD, dans le cadre d'un projet de fin d'étude de Bts SIO.</p>

	<h2>2. HÉBERGEMENT DU SITE WEB</h2>
	<p>Le site web est hébergé par O2switch, SAS au capital de 100 000 EURO, immatriculée au Registre du Commerce et des Sociétés Clermont-Ferrand sous le numéro 510909807 ,  dont le siège social est situé au CHE DES PARDIAUX, 63000 CLERMONT-FERRAND.</p>
	<p>Téléphone : [04 44 44 60 40]<br>
    
	<h2>3. PROPRIÉTÉ INTELLECTUELLE</h2>
	<p>Le contenu de ce site web est la propriété exclusive de EL KAJJOUI YANIS, à l'exception des éléments sous licence ou appartenant à des tiers. Toute reproduction, distribution, modification, adaptation ou utilisation de tout ou partie du contenu du site web sans l'autorisation écrite de l'auteur est strictement interdite.</p>

	<h2>4. RESPONSABILITÉ</h2>
	<p>L'auteur du site web décline toute responsabilité quant à l'utilisation qui pourrait être faite des informations contenues sur le site web. L'auteur ne saurait être tenu responsable des éventuels dommages directs ou indirects résultant de l'utilisation de ce site web ou de l'impossibilité d'y accéder.</p>

	<h2>5. LOI APPLICABLE ET JURIDICTION COMPÉTENTE</h2>
	<p>Les présentes mentions légales sont régies par la loi française. Tout litige relatif à l'utilisation du site web sera soumis à la compétence exclusive des tribunaux français.</p>
                    </div>
                </div>
            </div>
        </div>