<mat-toolbar class="header sticky">
    <i class="fa fa-code"></i>
    <h1>Florian Martin - BTS SIO </h1>
    <i class="fa fa-code"></i>
    <span class="fill-remaining-space"></span>



    <!-- ACCUEIL -->
    <button mat-raised-button routerLinkActive="active" [routerLink]="['/accueil']">
      <mat-icon>home</mat-icon>Accueil
    </button>

    <!-- MON PROFIL -->
    <button mat-raised-button routerLinkActive="active" [routerLink]="['/profil']">
        <mat-icon>account_circle</mat-icon>Mon profil
    </button>

    <!-- PPE -->
    <button [class]="{'active': rlaWeb.isActive || rlaAndroid.isActive}" mat-raised-button
        [matMenuTriggerFor]="ppeMenu">
        <mat-icon>description</mat-icon>PPE
    </button>
    <mat-menu #ppeMenu="matMenu">
        <button #rlaWeb="routerLinkActive" mat-menu-item routerLinkActive="active"
            [routerLink]="['/ppe/gsb-appli-web']">
            <mat-icon>laptop_chromebook</mat-icon>GSB appli web
        </button>
        <button #rlaAndroid="routerLinkActive" mat-menu-item routerLinkActive="active"
            [routerLink]="['/ppe/gsb-appli-android']">
            <mat-icon>smartphone</mat-icon>GSB appli android
        </button>
    </mat-menu>

    <!-- STAGE -->
    <button [class]="{'active': rlaCassandia.isActive || rlaObso.isActive}" mat-raised-button routerLinkActive="active" [matMenuTriggerFor]="stageMenu">
        <mat-icon>work</mat-icon>Stages
    </button>
    <mat-menu #stageMenu="matMenu">
        <button #rlaCassandia="routerLinkActive" mat-menu-item routerLinkActive="active"
            [routerLink]="['/stage/cassandia']">
            <mat-icon>laptop_chromebook</mat-icon>Stage 1ère année
        </button>
        <button #rlaObso="routerLinkActive" mat-menu-item routerLinkActive="active"
            [routerLink]="['/stage/obsotracker']">
            <mat-icon>desktop_mac</mat-icon>Stage 2ème année
        </button>
    </mat-menu>

    <!-- VEILLE TECHNOLOGIQUE -->
    <button mat-raised-button routerLinkActive="active" [routerLink]="['veille']">
        <mat-icon>visibility</mat-icon>Veille technologique
    </button>
    <app-theme></app-theme>
</mat-toolbar>
