body::-webkit-scrollbar {
  width: 12px;
}

.illustration-book img {
  width: auto;
  height: 287px;
  animation: myAnim 10s ease 0s infinite normal forwards;
}

#buttonToTop {
  display: inline-block;
  background-color: skyblue;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#buttonToTop > fa-icon {
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#buttonToTop:hover {
  cursor: pointer;
  background-color: #333;
}
#buttonToTop:active {
  background-color: #555;
}
#buttonToTop.show {
  opacity: 1;
  visibility: visible;
}


@keyframes myAnim {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, 2px);
  }

  80% {
    transform: translate(2px, -2px);
  }

  100% {
    transform: translate(0);
  }
}
