@import '~@angular/material/theming';

@mixin app-theme($theme, $background, $color-text) {
    $accent: map-get($theme, accent);
    $primary: map-get($theme, primary);
    $warn: map-get($theme, warn);
    $back: map-get($theme, background);
    $background-color: mat-color($back, card);
    $background-color-primary: mat-color($primary, darker, 1);
    $background-color-accent: mat-color($accent, lighter, 1);
    $background-color-warn: mat-color($warn, lighter, 300);


    > h1 {
        color: $color-text;
        background-color: $background;
        border: 1rem solid $background-color;
        padding: 2rem;
        
    }
}