{% extends 'base.html.twig' %}

{% block title %}Bloc de compétences{% endblock %}
{% block javascripts %}
	{{encore_entry_script_tags('app')}}
{% endblock %}
{% block main %}
<div class="container">
	<h1 class="text-center" style="color: green">Annexe 6.1 Bloc de compétence E4 Version PDF 2022</h1>
<div class="ratio ratio-16x9">
<embed src="../ressources/Annexe 6-1 - Tableau de synthèse - Yanis El Kajjoui.xlsx - Tableau de synthèse Épreuve E4-1.pdf" >
</center>
</div>
</div>
{% endblock %}

