@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap');
/* font-family: 'Red Hat Mono', monospace; */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap");
/* font-family: 'Bebas Neue', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@700&display=swap');

#photo {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  background: radial-gradient(black, transparent);
  padding: 0.5rem;
  position: relative;
  object-fit: cover;
  animation: load 1s 1;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

h1#main-title {
  color: #6085bf;
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 7rem;
  text-transform: uppercase;
}

.illustration-main-1>img {
  width: 80%;
}

#avatar-holder .case {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 13rem;
  height: 13rem;
  margin-left: 15px;
  border-radius: 50%;
  transition: all 0.3s ease-out;
}

#avatar-holder:hover .case {
  box-shadow: 0 0 0 15px #1e5be352 inset;
}

.stack-tech img {
  filter: grayscale(0.3);
  transition: .2s;
  background: #212336;
}

.stack-tech::before {
  content: '';
  height: 42px;
  border-top: 7px #7272741c solid;
  position: absolute;
  right: 171px;
  left: 171px;
  border-bottom: 7px #7272741c solid;
  margin-top: 30px;
}

.stack-tech img:hover {
  filter: grayscale(0);
}

#info {
  font-size: 3rem;
  color: #8a9ab3;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.container-bg-trans {
  background: url(/assets/denim.png), #ffffffe6;
}

.twitter-timeline {
  height: 600px;
  display: inline-block;
  width: 300px;
}

#main-title {
  font-family: "Poppins", sans-serif;
}

.certifications {
  background: url("/assets/bg-square.png"), #212336;
}

.certif-counter {
  font-family: 'Red Hat Mono', monospace;
}

.special-pix-anim {
  animation: randomColor 7s linear infinite;
  pointer-events: none;
}

@keyframes randomColor {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}

.stages {
  border-bottom: 3px black solid;
  background: linear-gradient(0deg, #481469, #164d90, #2168b0);
}

.stages-content .stage {
  width: 18rem;
}

.fit-content {
  width: fit-content;
  margin: auto;
}

.stages-content .row {
  margin: 0 60px;
}

.main-timeline {
  font-family: "Poppins", sans-serif;
}

html body .container-fluid {
  background-color: white;
}

.block-transition {
  height: 22px;
  background: linear-gradient(#36404f, #212336);
}

.parcours-content {
  background: url(/assets/bg.png), #212336;
  animation: 90s moveit infinite;
  animation-timing-function: linear;
}

.rubrique-title {
  text-shadow: 1px 1px 1px black;
}

@keyframes moveit {
  from {
    background-position: left;
  }

  to {
    background-position: right;
  }
}

@media (max-height: 800px) {
  #illustration {
    display: none;
  }
}

@media (max-height: 940px) {
  .illustration-main-1 {
    bottom: -160px;
  }
}

.area {
  min-height: 100vh;
}


@keyframes animate {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
