<div [@load]="isLoaded ? 'open': 'closed'" class="container-bg-trans">
  <div class="content-container p-5 pb-0 area">
    <div class="presentation row">
      <div class="col-12 col-xl-auto text-center">
        <img id="photo" src="assets/profile_picture_2.png" alt="Photo" />
        <div class="d-block d-xl-none">
          <hr>
        </div>
      </div>
      <div class="col-lg col-sm-9 col-12">
        <h1 id="main-title" class="text-right"><b>Angelo Tremoureux</b></h1>
        <br>

        <p id="info">
          <fa-icon [icon]="['fas', 'quote-left']"></fa-icon><span class="text-uppercase"> Apprenti ingénieur
            informatique, Développeur web passionné</span>
        </p>
        <div class="position-relative" style="z-index: 99">
          <a class="btn btn-dark" href="https://github.com/AngeloTremoureux" target="_blank" role="button">
            <fa-icon [icon]="['fab', 'github']"></fa-icon><span> GitHub »</span>
          </a>
          <span>&nbsp;</span>
          <a class="btn btn-primary" href="http://fr.linkedin.com/in/angelo-tremoureux" target="_blank" role="button">
            <fa-icon [icon]="['fab', 'linkedin-in']"></fa-icon><span> LinkedIn »</span>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="illustration-main-1 illustrations d-none d-xl-block mt-5">
          <img src="../../assets/illustration-1.svg">
        </div>
      </div>
      <div class="col-auto">
        <app-timeline>
        </app-timeline>
      </div>
    </div>
  </div>
  <div class="parcours">
    <div class="block-transition w-100"></div>
    <div class="parcours-content pb-5">
      <h1 class="text-center mb-5 rubrique-title text-white text-uppercase">Technologies</h1>
      <div class="container stack-tech mb-4 text-white">
        <div class="row">
          <div class="col"><img title="HTML 5" src="/assets/icons/brands/html5-96x96-1175210.png"></div>
          <div class="col"><img title="CSS 3" src="/assets/icons/brands/css3-96x96-1175200.png"></div>
          <div class="col"><img title="JavaScript" src="/assets/icons/brands/javascript.png"></div>
          <div class="col"><img title="Bootstrap" src="/assets/icons/brands/bootstrap.png"></div>
          <div class="col"><img title="Angular" src="/assets/icons/brands/angularjs-96x96-1175272.png"></div>
          <div class="col"><img title="Node.js" src="/assets/icons/brands/node-js.png"></div>
          <div class="col"><img title="Express" src="/assets/icons/brands/express.png"></div>
          <div class="col"><img title="PHP" src="/assets/icons/brands/php.png"></div>
        </div>
      </div>
      <h1 class="text-center mb-5 rubrique-title text-white text-uppercase">Projets</h1>
      <div class="container">
        <div class="row">
          <div class="col-3">
            <app-project [background]="'blue'"
              [content]="'Ce projet est un projet web personnel, réalisé '
                + 'en parallel de mon cursus scolaire de BTS principalement sous <b>TypeScript</b> et <b>PHP</b> permettant de jouer au jeu puissance 4 contre un robot'"
              [github]="'https://github.com/AngeloTremoureux/Puissance4'" [href]="'/projets/puissance4'"
              [icon]="'../../assets/icons/ts.png'" [title]="'Puissance 4'"></app-project>
          </div>
          <div class="col-3">
            <app-project [background]="'blue'"
              [content]="'Projet scolaire web en groupe de 4 réalisé dans le cadre de mon BTS '
                + 'principalement sous <b>PHP</b> avec <b>Symfony</b> suivant un cahier des charges et différentes spécifications'"
              [href]="'/projets/mdl'" [github]="'https://github.com/AngeloTremoureux/MDL'"
              [icon]="'../../assets/icons/symfony-icon.png'" [title]="'Maison des Ligues'"></app-project>
          </div>
          <div class="col-3">
            <app-project [background]="'blue'"
              [content]="'Ce est un projet web personnel, réalisé '
                + 'principalement sous <b>Angular</b> et consiste au développement et déploiement de mon portfolio en ligne'"
              [href]="'/projets/portfolio'" [github]="'https://github.com/AngeloTremoureux/Portfolio'"
              [icon]="'../../assets/icons/angular.png'" [title]="'Portfolio'"></app-project>
          </div>
          <div class="col-3">
            <app-project [background]="'blue'"
              [content]="'Ce projet est un projet web personnel, réalisé '
                + 'principalement sous <b>NodeJS</b> et consiste à la création d\'un jeu de monopoly en ligne avec un mode multijoueur'"
              [href]="'/projets/monopoly'" [github]="'https://github.com/AngeloTremoureux/MonopolGame'"
              [icon]="'../../assets/icons/nodejs.png'" [title]="'Monopoly'"></app-project>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="pb-3 full-size certifications">
    <h1 class="text-center mb-5 rubrique-title text-white pt-3">Certifications</h1>
    <div class="text-center">
      <img src="https://i.imgur.com/qUBVu4N.png" title="Certifié 639 Pix sur 768" alt="Certification Pix"
        class="special-pix-anim">
      <p class="text-white mt-3 certif-counter">
        Certification Pix (<b>639</b> / <b>768</b>)
        <small class="text-light">
          <br>
          <em>
            <a target="_blank" href="https://app.pix.fr/verification-certificat">Code: P-Y44KWYVP</a>
          </em>
        </small>
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
