<footer class="p-5 pb-0">
  <div class="container-fluid my-0">
      <div class="row">
          <div class="col-auto illustration-book mr-5  d-none d-lg-block">
              <a href="https://storyset.com/web" target="_blank"><img src="https://i.imgur.com/B2MfbFL.png" title="Droits d'auteurs - par Storyset"></a>
          </div>
          <div class="col">
              <h2>A propos</h2>
              <p class="f-aPropos mt-3">
                Je m'appelle Angelo Tremoureux, j'ai 20 ans et je suis actuellement étudiant dans le domaine de l'informatique.
                <br>
                Passionné d'informatique mais aussi joueur d'échecs, lecteur de mangas ou encore fan de tennis, je
                suis curieux, motivé et persévérant dans ce que j'entreprends.
              </p>
              <p class="f-aPropos">
                N'hésitez pas à me contacter à angelotremoureux@gmail.com
              </p>
          </div>
      </div>
      <hr>
      <p class="text-center" id="copyright">© www.angelotremoureux.fr</p>
  </div>
</footer>
