.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1rem 0;

    h2 {
        font-family: 'MrRobot', monospace;
        font-size: 12rem;
        font-weight: 100;
    }

    p {
        font-family: 'Press Start 2P', cursive;
        font-size: 1.6rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .Home {
        height: 100%;

        h2 {
            font-size: 4.8rem;
        }

        p {
            font-size: .8rem;
        }
    }
}