.header-image {
  background-size: cover;
}

.mat-button-base.mat-dark {
  background: #262626;
  color: white;
}

.mat-card{
  display:flex;
  flex-direction: column;
}

.mat-card-header {
  flex-shrink: 0;
}

.mat-card-content{
  flex-grow: 1;
  overflow: auto;
}
